# Mengabaikan Data Master Spasial (Biar aman dari GitHub)
data_tikon.shp
data_tikon.shx
data_tikon.dbf
data_tikon.prj
data_tikon.cpg
data_tikon.qix
data_tikon.cst
data_tikon.sbn
data_tikon.sbx
data_tikon.xml

# Mengabaikan file sistem dan cache Python
__pycache__/
*.pyc

# Mengabaikan file AOI hasil upload tes lu
*.zip
*.geojson
*.kml
*.kmz